html {
  font-size: 16px;
  // visibility: hidden;
}
/* 在你的全局样式文件中 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import '../font/HARMONYOS_SANS_SC_REGULAR/font.css';
@import '../font/HARMONYOS_SANS_SC_MEDIUM/font.css';
@import '../font/HARMONYOS_SANS_SC_BOLD/font.css';
@import '../font/HARMONYOS_SANS_SC_LIGHT/font.css';

body {
  font-family: 'HARMONYOS_SANS_SC_REGULAR', sans-serif;
}
