/* 基准：1440px 时 16px，按视口宽度比例缩放（最小 12px，最大 20px） */
html {
  // font-size: clamp(14px, calc(16px + (100vw - 1440px) * 0.01), 20px);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 在你的全局样式文件中 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import '../font/HARMONYOS_SANS_SC_REGULAR/font.css';
@import '../font/HARMONYOS_SANS_SC_MEDIUM/font.css';
@import '../font/HARMONYOS_SANS_SC_BOLD/font.css';
@import '../font/HARMONYOS_SANS_SC_LIGHT/font.css';

:lang(zh) .font-light {
  font-family: 'HarmonyOS_Sans_SC_LIGHT', sans-serif;
  font-weight: 300;
}
:lang(zh) .font-normal {
  font-family: 'HarmonyOS_Sans_SC_REGULAR', sans-serif;
  font-weight: 400;
}
:lang(zh) .font-medium {
  font-family: 'HarmonyOS_Sans_SC_MEDIUM', sans-serif;
  font-weight: 500;
}
:lang(zh) .font-bold {
  font-family: 'HarmonyOS_Sans_SC_BOLD', sans-serif;
  font-weight: 700;
}
/* 英文字体 */
:lang(en) body {
  font-family: 'Noto Sans', sans-serif;
}
// :root {
//   --max-content-width: min(2560px, 100vw);
// }
